In [2]:
import sqlite3

conn = sqlite3.connect('emailbd.sqlite')
cur = conn.cursor()
cur.execute('DROP TABLE IF EXISTS Counts')
cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''')

In [3]:
fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)

for line in fh:
    if not line.startswith('From: '):continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email, )) # a holder ? should be replaced by a tuple
    row = cur.fetchone()
    if row is None:
        cur.execute('''
        INSERT INTO Counts (email, count)
        VALUES (?, 1)''', (email, ))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?',
                   (email, ))
    conn.commit()

Enter file name:

In [6]:
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'
for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])
cur.close()

cwen@iupui.edu 5
zqian@umich.edu 4
david.horwitz@uct.ac.za 4
louis@media.berkeley.edu 3
gsilver@umich.edu 3
stephen.marquard@uct.ac.za 2
rjlowe@iupui.edu 2
wagnermr@iupui.edu 1
antranig@caret.cam.ac.uk 1
gopal.ramasammycook@gmail.com 1

## twspider

In [10]:
from urllib.request import urlopen
import urllib.error
import twurl
import json
import sqlite3
import ssl

TWITTER_URL = 'https://api.twitter.com/1.1/friends/list.json'
conn = sqlite3.connect('spider.sqilite')
cur = conn.cursor()

cur.execute('''
            CREATE TABLE IF NOT EXISTS Twitter
            (name TEXT, retrieved INTEGER, friends INTEGER)''')

# ingore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

ModuleNotFoundError: No module named 'twurl'

In [9]:
while True:
    acct = input('Enter a Twitter account, or quit: ')
    if (acct == 'quit'): break
    if (len(acct) < 1):
        cur.execute('SELECT name FROM Twitter WHERE retrieved = 0 LIMIT 1')
        try: 
            acct = cur.fetchone()[0]
        except:
            print('No unretrieved Twitter accoutns found')
            continue
        url = twurl.augment(TWITTER_URL, {'screen_name': acct, 'count': '5'})
        print('Retrieving', url)
        connection = urlopen(url, context = ctx)
        data = connection.read().decode()
        hearders = dict(connection.getheaders())
        
        print('Remaing', headers['x-rate-limit-remaining'])
        js = json.loads(data)
        
        # Debugging
        # print json.dumps(js, indent = 4)
        
        cur.execute('UPDATE Twitter SET retrieved=1 WHERE name = ?', (acct, ))
        
        countnew = 0
        countold = 0
        
        for u in js['users']:
            friend = u['screen_name']
            print(friend)
            cur.execute('SELECT friends FROM Twitter WHERE name = ? LIMIT 1', 
                        (friend,) )
            try:
                count = cur.getchone()[0]
                cur.execute('UPDATE Twitter SET firends = ? WHERE name = ?',
                           (count+1, friend))
                countold = countold + 1
            except:
                cur.execute('''INSERT INTO Twitter (name, retrieved, friends)
                VALUES (?, 0, 1)''', (friend, ))
                countnew = countnew + 1
        print('New account =', countnew, ' revisited =', countold)
        conn.commit()

cur.close()

Object `spider.sqlite` not found.

In [ ]:
##