In [3]:
import pandas as pd
import numpy as np
pd.__version__

'0.24.2'

## The pandas series object

In [5]:
series = pd.Series([0.25, 0.5, 0.75, 1])
series # indexed data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

## values and index two attribute

In [6]:
series.values # index

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
series[1:3]

1    0.50
2    0.75
dtype: float64

## use index

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
data['b'] # like dictionary

0.5

In [12]:
dict = {'a': 'lucy', 'b': 100}

In [17]:
dict['a']

'lucy'

## `Series`-as-dictionary analogy

In [18]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## supports array-style operations such as slicing

In [20]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [22]:
population[0:3]

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [23]:
pd.Series({2:'a', 1:'b', 3:'c'}) # keys become index

2    a
1    b
3    c
dtype: object

## The pandas dataframe object

In [29]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
dtype: int64

In [30]:
states = pd.DataFrame({'population': population,
                       'area': area})
states # automaticlly join the two series by their index

            population      area
California    38332521  423967.0
Florida       19552860  170312.0
Illinois      12882135       NaN
New York      19651127  141297.0
Texas         26448193  695662.0

In [31]:
states.index # row names

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [32]:
states.columns # col names

Index(['population', 'area'], dtype='object')

In [33]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [34]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
data

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [35]:
# data should have the same keys as the col names
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4