## Lists are collection of items

In [12]:
names = ['Lucy', 'Haoran', 'Alex']
print(names)

['Lucy', 'Haoran', 'Alex']

In [6]:
scores = []
scores.append(100)
scores.append(90)
scores.append(99)
print(scores)
print(scores[2])
import numpy as np
score_more = np.arange(0, 4)
scores.extend(score_more)
print(scores)
del scores[0] # remove the first elememt
print(scores)

[100, 90, 99]
99
[100, 90, 99, 0, 1, 2, 3]
[90, 99, 0, 1, 2, 3]

In [23]:
t = ['a', 'b', 'c', 'd', 'e' ,'f']
remove_a = t.pop(1) # this way could save the removed element
print(t)
print(remove_a)

del t[1:4] # only del can deal with slice
print(t)

['a', 'c', 'd', 'e', 'f']
b
['a', 'f']

In [22]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

['a', 'c']

## Array -- same type

In [5]:
from array import array
scores = array('d') # arrary of digit -- same type
scores.append(100)
scores.append(90)
scores.append(99)
print(scores)
scores[2]

array('d', [100.0, 90.0, 99.0])
array('d', [100.0, 90.0, 99.0, 0.0, 1.0, 2.0, 3.0])
array('d', [90.0, 99.0, 0.0, 1.0, 2.0, 3.0])

## Common operations

In [14]:
# length
print(len(names))
# insert before the position
names.insert(2, 'Bill')
print(names)
names.sort()
print(names)
presenters = names[0:2]
print(presenters)

4
['Alex', 'Bill', 'Bill', 'Haoran', 'Lucy']
['Alex', 'Bill', 'Bill', 'Haoran', 'Lucy']
['Alex', 'Bill']

## Dictionaries

In [43]:
person = {'first': 'Lucy', 'last': 'Haoran'} # key and value
person['second'] = 'Alex'
print(person)
print(person['first'])

{'first': 'Lucy', 'last': 'Haoran', 'second': 'Alex'}
Lucy

In [49]:
'first' in person
print(person.get('first', 0000)) # get the value of corresponding key, if empty, return defalut value
print(person.get('fff', 0000))

Lucy
0

In [47]:
values = list(person.values())
'Lucy' in values

True

## use dictionary as a hist

In [48]:
word = 'brontosaurus'
d = dict()
for c in word:
    if c not in d:
        d[c] = 1
    else:
        d[c] = d[c] + 1
print(d)

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

In [50]:
word = 'brontosaurus'
d = dict()
for c in word:
    d[c] = d.get(c,0) + 1
print(d)

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

## list to string

In [11]:
print('list to string:', ''.join(['g', 'o', 'l', 'd']))

list to string: gold

In [15]:
list('gold') # string to list

['g', 'o', 'l', 'd']

In [23]:
element = 'fluorine'
print(element[1::2]) # stride
print(element[::-1])

loie
eniroulf

## sentence to words

In [39]:
sen = "this is a sentence"
words = sen.split()
print(words)

['this', 'is', 'a', 'sentence']

In [32]:
sen = 'This-is-a-sentence'
delimiter = '-'
sen.split(delimiter)

['This', 'is', 'a', 'sentence']

In [33]:
delimiter2 = ' '
delimiter2.join(sen.split(delimiter))

'This is a sentence'

In [42]:
words.sort() # do not return a new list !!!
words

['a', 'is', 'sentence', 'this']

## Sort and Sorted

In [27]:
letters = list('gold')
result = sorted(letters)
print('letters is', letters, 'and result is ', result)

letters is ['g', 'o', 'l', 'd'] and result is  ['d', 'g', 'l', 'o']

In [29]:
letters.sort()
letters # inplace of the original letters

['d', 'g', 'l', 'o']

## pass by reference

In [33]:
old = list('gold')
new = old      # simple assignment
new[0] = 'D'
print('new is', new, 'and old is', old)

new is ['D', 'o', 'l', 'd'] and old is ['D', 'o', 'l', 'd']

In [31]:
old = list('gold')
new = old[:]   # assigning a slice
new[0] = 'D'
print('new is', new, 'and old is', old)

new is ['D', 'o', 'l', 'd'] and old is ['g', 'o', 'l', 'd']

In [44]:
def ressign(list):
    list = [0, 1]
 #   return list
list1 = [0]
ressign(list1)
print(list1)

[0]

In [46]:
def append(list):
    list.append(1)
list_single = [0]
append(list_single)
print(list_single)

[0, 1]

## other language has 'variables'. Python has 'names'

In [47]:
listA = [0]
listB = listA
listB.append(1)
print(listA)

[0, 1]

In [50]:
a = 256
b = 256
print(id(a))
print(id(b))
print(a is b)

a = 257
b = 257
print('257 has id:', id(a))
print('257 has id:', id(b))
a is b

print('257 is 257', 257 is 257)

4366357888
4366357888
True
257 has id: 4654844400
257 has id: 4654844688
257 is 257 True

In [52]:
s3 = 'hello, world!'
s4 = 'hello, world!'
print('s3 == s4 ', s3 == s4)
print('s3 is s4 ', s3 is s4)
print('s3 id is: ', id(s3), 's4 id is: ', id(s4))

s3 == s4  True
s3 is s4  False
s3 id is:  4655641328 s4 id is:  4655643760

In [57]:
a = 10
b = a
a = a + 1
print(b)

10

In [54]:
a = [10]
b = a
a = a.append(11)
print(b)

[10, 11]

In [65]:
a = 'str'
b = a
a = a + 'f'
print(b)

str

In [79]:
from array import array 
scores = array('d') # arrary of digit -- same type
scores.append(100)
print(scores)
new_score = scores # compare new_score = scores[:] !!!!! the later one take out the values and open a new memory space
scores.append(-111111)
print(new_score)

array('d', [100.0])
array('d', [100.0])

In [77]:
from numpy import array ## this is a normal array like R!!!!

In [78]:
a = array([1,2,3])
print(a)
b = a
a = a + 1
print(b)

[1 2 3]
[1 2 3]

In [80]:
message = ""
for number in range(10):
    # use a if the number is a multiple of 3, otherwise use b
    if (number % 3) == 0:
        message = message + "a"
    else:
        message = message + "b"
print(message)

abbabbabba

## Tuples

In [51]:
t = 'a', 'b', 'c', 'd', 'e'
t1 = ('a', ) # include ',' to tell python this is a tuple, otherwise, this will be a string
type(t1)

tuple