## print function

In [23]:
print('Hello world')
print('Line break \nline break') # new line

Hello world
Line break
line break

## input function

In [24]:
name = input('What is your name?') # take an input from user
age = 28
print(name, 'is', age, 'old')
print(name  + 'is') # concatenate strings

What is your name? Lucy

Lucy is 28 old
Lucyis

## String casechange

In [25]:
sentence = "The dog is named Sammy"
print(sentence.upper())
print(sentence.lower())
print(sentence.capitalize())
print(sentence.count('a'))

THE DOG IS NAMED SAMMY
the dog is named sammy
The dog is named sammy
2

## String indexing

In [26]:
print('sentence[0:6] is:', sentence[0:6]) # include position 0,1,2,3,4,5
print('sentence[1:6] is:', sentence[1:6]) # include position 1,2,3,4,5
print('length of the string is:', len(sentence))
print('sentence[:9]', sentence[:9]) # all the way to position 8
print('sentence[5:-3]', sentence[5:-3]) # from position 5 to -3 position

sentence[0:6] is: The do
sentence[1:6] is: he do
length of the string is: 22
sentence[:9] The dog i
sentence[5:-3] og is named Sa

## string find character

In [8]:
bana = ' this is a banana'
ba_index = bana.find('s', 4)
print(ba_index)

4

## strip and startwith

In [13]:
bana_new = bana.strip()

print(bana_new.startswith('Th'))
print(bana_new.lower().startswith('th'))

False
True

## print + string manipulation

In [27]:
first_name = input('please enter your first name:')
last_name = input('please enter your last name:')
print('Hello, ' + first_name.capitalize() + ' ' +  last_name.capitalize() )

please enter your first name: LUCY
please enter your last name: LIU

Hello, Lucy Liu

## Custom string formatting

In [29]:
output = 'Hello, {0} {1}'.format(first_name, last_name)
print(output)
output = f'Hell0, {last_name}, {first_name}' # formatting the strings
print(output)

Hello, LUCY LIU
Hell0, LIU, LUCY

## string format %

In [15]:
'In %d years, I have spotted %g %s.' % (3, 0.1, 'camels')

'In 3 years, I have spotted 0.1 camels.'

## working with numbers

In [30]:
3 ** 3 # exponential

27

## type of data

In [37]:
days_in_feb = 28
float(days_in_feb)
print(str(days_in_feb) + ' days in Februray')
type(days_in_feb)
first_num = input('Enter first number')
second_num = input('Enter second number')
print(int(first_num) + int(second_num))

28 days in Februray

Enter first number 2
Enter second number 3

5

## Division Types

In [45]:
print('7// 3:', 7//3) # whole - number/floor division
print('5 / 3:', 5/3)
print('5 % 3:', 5%3) # modulo
print(float("3.1415") + 5)
int(float('2.5')) # int('2.5') does not work

7// 3: 2
5 / 3: 1.6666666666666667
5 % 3: 2
8.1415

2

## date and time using datetime library

from datetime import datetime, timedelta
current_date = datetime.now()
print('Today is: ' + str(current_date))

In [57]:
type(current_date) 
one_day = timedelta(days = 1) # remember tab + shift check the parameters 
yesterday = current_date - one_day # covert the time as compuation on numbers
print(yesterday)
print('Day: ' + str(current_date.day))
print('Moth: ' + str(current_date.month))
print('Year: ' + str(current_date.year))

2019-11-05 23:04:22.035609
Day: 6
Moth: 11
Year: 2019

## convert string into a datetime object

In [68]:
birthday = input('When is your birthday (dd/mm/yyy)? ')
print(birthday)
birthday_date = datetime.strptime(birthday, '%d/%m/%Y')
print('Brithday: ' + str(birthday_date))

When is your birthday (dd/mm/yyy)?  28/06/1991

28/06/1991
Brithday: 1991-06-28 00:00:00