## open files

In [1]:
fhand = open('skincancer.txt')

In [3]:
print(fhand)
count = 0
for line in fhand:
    count = count + 1
print('Line count:', count)

<_io.TextIOWrapper name='skincancer.txt' mode='r' encoding='UTF-8'>
Line count: 50

## read csv

In [16]:
import pandas as pd
data = pd.read_csv('coolhearts.csv') #, index_col = 'Area')
# print(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
Infarcted    32 non-null float64
Area         32 non-null float64
Group        32 non-null int64
X2           32 non-null int64
X3           32 non-null int64
dtypes: float64(2), int64(3)
memory usage: 1.3 KB

In [17]:
print(data.columns) # get column names

Index(['Infarcted', 'Area', 'Group', 'X2', 'X3'], dtype='object')

In [18]:
print(data.T) # transpose

              0     1      2      3     4      5      6     7      8      9   \
Infarcted  0.119  0.19  0.395  0.469  0.13  0.311  0.418  0.48  0.687  0.847
Area       0.340  0.64  0.760  0.830  0.73  0.820  0.950  1.06  1.200  1.470
Group      3.000  3.00  3.000  3.000  3.00  3.000  3.000  3.00  3.000  3.000
X2         0.000  0.00  0.000  0.000  0.00  0.000  0.000  0.00  0.000  0.000
X3         0.000  0.00  0.000  0.000  0.00  0.000  0.000  0.00  0.000  0.000

           ...     22     23    24     25     26     27     28     29     30  \
Infarcted  ...  0.149  0.316  0.39  0.429  0.477  0.439  0.446  0.538  0.625
Area       ...  1.050  1.060  1.02  0.990  0.970  1.120  1.230  1.190  1.220
Group      ...  2.000  2.000  2.00  2.000  2.000  2.000  2.000  2.000  2.000
X2         ...  0.000  0.000  0.00  0.000  0.000  0.000  0.000  0.000  0.000
X3         ...  1.000  1.000  1.00  1.000  1.000  1.000  1.000  1.000  1.000

              31
Infarcted  0.974
Area       1.400
Group      2.000
X2         0.000
X3         1.000

[5 rows x 32 columns]

In [19]:
print(data.describe()) # like summary in R

       Infarcted       Area      Group         X2         X3
count  32.000000  32.000000  32.000000  32.000000  32.000000
mean    0.368406   0.994375   1.968750   0.343750   0.343750
std     0.220277   0.249889   0.822442   0.482559   0.482559
min     0.033000   0.340000   1.000000   0.000000   0.000000
25%     0.202000   0.827500   1.000000   0.000000   0.000000
50%     0.364500   1.025000   2.000000   0.000000   0.000000
75%     0.471000   1.192500   3.000000   1.000000   1.000000
max     0.974000   1.470000   3.000000   1.000000   1.000000

In [21]:
data.head(n = 2)
data.tail(n = 2)

    Infarcted  Area  Group  X2  X3
30      0.625  1.22      2   0   1
31      0.974  1.40      2   0   1

## write a csv

In [22]:
data.to_csv('newdata.csv')

## dataframe indexing

In [49]:
data.loc[: ,"Area"] # name indexing using loc

0     0.34
1     0.64
2     0.76
3     0.83
4     0.73
5     0.82
6     0.95
7     1.06
8     1.20
9     1.47
10    0.44
11    0.77
12    0.90
13    1.07
14    1.01
15    1.03
16    1.16
17    1.21
18    1.20
19    1.22
20    0.99
21    0.77
22    1.05
23    1.06
24    1.02
25    0.99
26    0.97
27    1.12
28    1.23
29    1.19
30    1.22
31    1.40
Name: Area, dtype: float64

In [55]:
data.loc[1:3, ["Area", 'Group']].max() # column max

Area     0.83
Group    3.00
dtype: float64

In [60]:
sub_data = data.iloc[2:5, 1:4] # numeric indexing using iloc

In [69]:
sub_data > 0.8 # return the pointwise F/T -- a mask

    Area  Group     X2
2  False   True  False
3   True   True  False
4  False   True  False

In [70]:
sub_data[sub_data > 0.8] # the False position is NaN, which will be ignored by .descirbe()

   Area  Group  X2
2   NaN      3 NaN
3  0.83      3 NaN
4   NaN      3 NaN

In [78]:
con_data = data.iloc[:, 0:2]
con_data_higher = con_data[con_data > con_data.mean()] # mean comparison

In [95]:
con_data.aggregate('sum', axis=0)/con_data.shape[0]

Infarcted    0.368406
Area         0.994375
dtype: float64

In [96]:
con_data.aggregate('mean', axis=0)

Infarcted    0.368406
Area         0.994375
dtype: float64

In [110]:
data.drop(columns=['X2', 'X3'])

    Infarcted  Area  Group
0       0.119  0.34      3
1       0.190  0.64      3
2       0.395  0.76      3
3       0.469  0.83      3
4       0.130  0.73      3
5       0.311  0.82      3
6       0.418  0.95      3
7       0.480  1.06      3
8       0.687  1.20      3
9       0.847  1.47      3
10      0.062  0.44      1
11      0.122  0.77      1
12      0.033  0.90      1
13      0.102  1.07      1
14      0.206  1.01      1
15      0.249  1.03      1
16      0.220  1.16      1
17      0.299  1.21      1
18      0.350  1.20      1
19      0.350  1.22      1
20      0.588  0.99      1
21      0.379  0.77      2
22      0.149  1.05      2
23      0.316  1.06      2
24      0.390  1.02      2
25      0.429  0.99      2
26      0.477  0.97      2
27      0.439  1.12      2
28      0.446  1.23      2
29      0.538  1.19      2
30      0.625  1.22      2
31      0.974  1.40      2

In [116]:
data.drop([3,29])

    Infarcted  Area  Group  X2  X3
0       0.119  0.34      3   0   0
1       0.190  0.64      3   0   0
2       0.395  0.76      3   0   0
4       0.130  0.73      3   0   0
5       0.311  0.82      3   0   0
6       0.418  0.95      3   0   0
7       0.480  1.06      3   0   0
8       0.687  1.20      3   0   0
9       0.847  1.47      3   0   0
10      0.062  0.44      1   1   0
11      0.122  0.77      1   1   0
12      0.033  0.90      1   1   0
13      0.102  1.07      1   1   0
14      0.206  1.01      1   1   0
15      0.249  1.03      1   1   0
16      0.220  1.16      1   1   0
17      0.299  1.21      1   1   0
18      0.350  1.20      1   1   0
19      0.350  1.22      1   1   0
20      0.588  0.99      1   1   0
21      0.379  0.77      2   0   1
22      0.149  1.05      2   0   1
23      0.316  1.06      2   0   1
24      0.390  1.02      2   0   1
25      0.429  0.99      2   0   1
26      0.477  0.97      2   0   1
27      0.439  1.12      2   0   1
28      0.446  1.23      2   0   1
30      0.625  1.22      2   0   1
31      0.974  1.40      2   0   1

## match pattern

In [118]:
import glob
glob.glob('*.png') # * => match 0 or more characters

['fig1.png', 'fig2.png']

In [121]:
filename = 'data/gapminder_gdp_<region>.csv'
filename.rpartition('_')[-1][:-4]

'<region>'

In [124]:
filename.rpartition('_')[-1] # the last element in the last

('data/gapminder_gdp', '_', '<region>.csv')

In [126]:
part = filename.rpartition('_')
print(part)

('data/gapminder_gdp', '_', '<region>.csv')

In [127]:
type(part)

tuple

## apply function in pandas

In [134]:
Area = data.loc[:, 'Area']
def add10(v):
    v = v + 10
    return v
data['Area'] = data.loc[:, 'Area'].apply(add10)

In [135]:
data.head(n = 3)

   Infarcted   Area  Group  X2  X3
0      0.119  10.34      3   0   0
1      0.190  10.64      3   0   0
2      0.395  10.76      3   0   0

[0, 1, 2]