1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import pandas as pd
import numpy as np
a = pd.Series(range(9))

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [10]:
type(a.tolist())

1

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.

4. Write a Python program to get the largest integer smaller or equal to the division of the inputs. 

5. Write a Python program to convert a dictionary to a Pandas series.

In [11]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(dict)

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Python program to convert a NumPy array to a Pandas series.

7. Write a Python program to change the data type of given a column or a Series. Go to the editor

In [14]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s2 = pd.to_numeric(s1, errors='coerce')
s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Python Pandas program to convert the first column of a DataFrame as a Series.

In [18]:
df = pd.DataFrame(np.arange(12).reshape(3, 4))
pd.Series(df.loc[:, 0])
df

   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

9. Write a Pandas program to convert a given Series to an array.

In [28]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

In [33]:
np.array(s1)

array(['100', '200', 'python', '300.12', '400'], dtype=object)

10. Write a Pandas program to convert Series of lists to one Series.

In [2]:
s1 = ['Red', 'Green', 'White']
s2 =  ['Red', 'Black']
s3 = ['Yellow']
l3 = pd.Series([s1, s2, s3])
l3

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [3]:
s = l3.apply(pd.Series).stack().reset_index(drop=True)
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [49]:
l3.apply(pd.Series)

        0      1      2
0     Red  Green  White
1     Red  Black    NaN
2  Yellow    NaN    NaN

11. Write a Pandas program to sort a given Series.

In [52]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])
s1.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [55]:
s1.append(pd.Series(['ohp', 'ppp']))

0       100
1       200
2    python
3    300.12
4       400
0       ohp
1       ppp
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [57]:
s = pd.Series(range(10))
s[s < 6]

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

14. Write a Pandas program to change the order of index of a given series.

In [62]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','E'])
s

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64

B    2
A    1
C    3
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [66]:
s = pd.Series(range(10))
s.std()
s.mean()

4.5